@font-face {
    font-family: "raleway";
    src: url(../fonts/raleway/static/Raleway-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "raleway";
    src: url(../fonts/raleway/static/Raleway-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "raleway";
    src: url(../fonts/raleway/static/Raleway-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: normal;
}

:root {
    --normal: rgb(78, 74, 34);
    --fire: rgb(221, 100, 44);
    --water: rgb(6, 100, 138);
    --grass: rgb(41, 177, 36);
    --electric: rgb(197, 183, 31);
    --ice: rgb(72, 202, 196);
    --fighting: rgb(95, 9, 9);
    --poison: rgb(85, 16, 124);
    --ground: rgb(153, 145, 60);
    --flying: rgb(85, 74, 128);
    --psychic: rgb(196, 101, 141);
    --bug: rgb(90, 151, 65);
    --rock: rgb(133, 130, 103);
    --ghost: rgb(90, 12, 126);
    --dragon: rgb(36, 35, 114);
    --dark: rgb(129, 79, 22);
    --steel: rgb(184, 183, 173);
    --fairy: rgb(225, 139, 236);
    --grey: rgb(138, 138, 138);
    --hp: rgb(5, 160, 13);
    --attack: rgb(214, 0, 0);
    --defense: rgb(0, 33, 124);
    --special-attack: rgb(133, 0, 122);
    --special-defense: rgb(97, 3, 16);
    --speed: rgb(8, 124, 109);
}

.centerAll {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokeHead {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: space-around;
}

.d-none {
    display: none !important;
}

.p8 {
    padding: 8px;
}

.p16 {
    padding: 16px;
}

.sp-between {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

#pokeball {
    position: absolute;
    width: 150px;
    height: 150px;
    transform: scale(0);
    left: 100%;
    top: 20%;
}

h2 {
    color: white;
}

.arrowBtn {
    border: none;
    background-color: transparent;
    filter: brightness(80%);
    transform: scale(0.6);
    margin: 0;
    padding: 0;
}

.arrowBtn:hover {
    filter: brightness(20%);
}

.movepokeball {
    animation: showPokeball2 325ms linear;
}

@keyframes showPokeball2 {
    0% {
        left: 25%;
        top: 25%;
        transform: rotateZ(0deg);
    }
    100% {
        left: 50%;
        top: 50%;
        transform: rotateZ(360deg) scale(20);
    }
}

.blurred {
    filter: blur(10px);
}

.pokecontainer {
    border: 1px solid black;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.308);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-radius: 8px;
    transition: transform 225ms ease-in-out;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.pokePic {
    width: 100%;
    height: auto;
    margin: 0;
    background-image: url("../img/pokeball2.png");
    background-position: 50% 50%;
    background-size: 80%;
    background-repeat: no-repeat;
}

.pokecontainer:hover {
    transform: scale(1.05);
    filter: brightness(110%);
    transition: all 225ms ease-in-out;
}

body {
    box-sizing: border-box;
    font-family: 'raleway' !important;
}

.pokeContainerLowerBox {
    display: flex;
    align-items: center;
    width: 100%;
}

.navbar {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

h3 {
    color: whitesmoke;
}

.pokeTypes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 80%;
}

.pokeTypes p {
    padding: 0.5em;
    border: 1px solid black;
    border-radius: 8px;
    width: 90%;
    margin-left: 1em;
}

.outerBox {
    display: flex;
    align-items: center;
}

.infoBox {
    padding: 0.6em;
    width: 60%;
}

.selector {
    display: flex;
    justify-content: center;
    align-items: space-evenly;
    flex-direction: column;
    background-color: cornsilk;
    border-radius: 8px;
}

.selectorInfoBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    flex-wrap: nowrap;
}

.selectorInfoBox p {
    margin: 0;
}

#pokeGif {
    width: 100%;
}

.gender {
    display: flex;
    flex-wrap: nowrap;
}

.container-fluid {
    padding-left: 2em !important;
    padding-right: 2em !important;
}

.form-controlBox {
    width: 35% !important;
    min-width: 200px !important;
}

.gender img {
    width: 49%;
}

#pokeList {
    padding-top: 40px;
}

#detailPokemon {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(20, 20, 20, 0.108);
    z-index: 1000;
}

.outerDetail {
    width: 75%;
    height: 85%;
    border-radius: 8px;
    background-color: rgba(20, 20, 20, 0.508);
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: center;
}

.arrow:hover {
    filter: brightness(0.5);
}

.arrow {
    cursor: pointer;
}

.progress-bar {
    border-end-end-radius: 8px;
    border-start-end-radius: 8px;
    font-size: larger;
}

.progress {
    border-radius: 8px;
    width: 100%;
    padding-left: 0 !important;
}

.line {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.line p {
    margin: 0;
    color: whitesmoke;
    font-size: larger;
}

.detailTop {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 90%;
}

#pokeId {
    color: whitesmoke;
}

.detailText {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

#detailImg {
    height: 100% !important;
    width: auto;
}

.detailText p,
h2 {
    margin: 0 !important;
}